.darker-background {
  background-color: rgba(0, 0, 0, 0.85); /* negro casi opaco */
  border-radius: 0.5rem;
  padding: 1rem;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 12rem;

    select {
      background-color: #262626;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      border: none;
    }

    input[type="text"] {
      background-color: #6d6b6b;
      color: #ffffff;
      padding: 0.25rem 0.75rem;
      border-radius: 0.25rem;
      width: 30rem;
      border: none;

      &::placeholder {
        color: #ffffff;
      }
    }

    button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }