<nav>
  <div class="left-menu">
    <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateTo('/games')">Juegos</a>
    <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateTo('/company')">Compañías</a>
    <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateTo('/study')">Estudios</a>
    <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateTo('/reviews')">Reseñas</a>
  </div>

  <div class="search-section">
    <select>
      <option value="all">All</option>
    </select>
    <input type="text" placeholder="Buscar" />
    <button>
      <svg>...</svg>
    </button>
  </div>

  <div class="right-menu">
    <div class="user-avatar" routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="navigateTo('/usuarios')">User</div>
  </div>
</nav>
